/* MOBILE */
@media screen and (max-width: 739px) {
  .header-search__main-title {
    line-height: 5.8rem;
  }

  .header-search__sub-title {
    letter-spacing: 1.5px;
  }

  .header__navbar-list--m {
    min-width: 28rem;
  }

  .proposals-item__place {
    padding-bottom: 4rem;
  }

  .header__background--img {
    padding-bottom: 18rem;
  }

  .header-search__title {
    padding-top: 12rem;
  }

  .header-category__list,
  .header-search__option-row {
    margin-top: 5rem;
  }

  .proposals-item__logo--img {
    width: 4.2rem;
  }
}

/* NORMAL IPAD */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .proposals-item__logo--img {
    width: 6.5rem;
  }

  .proposals-item__logo {
    padding-top: 5rem;
    padding-left: 5rem;
  }

  .proposals-item__place {
    padding-left: 5rem;
    padding-bottom: 4rem;
  }

  .proposals-item__place--continent {
    font-size: 3rem;
  }

  .proposals-item__place--package {
    font-size: 2.5rem;
  }
}

/* IPAD PRO */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .header-search__main-title p {
    display: inline-block;
  }

  .proposals-item__logo {
    padding-left: 8rem;
    padding-top: 6rem;
  }

  .proposals-item__logo--img {
    width: 12rem;
  }

  .proposals-item__place {
    padding-left: 7.5rem;
    padding-bottom: 10rem;
  }

  .proposals-item__place--continent {
    font-size: 5.5rem;
    margin-bottom: 2rem;
  }

  .proposals-item__place--package {
    font-size: 4rem;
  }

  .proposals__heading-suggestion {
    font-size: 2.5rem;
  }

  .header__navbar-list--m {
    min-width: 32rem;
  }
}

/* MOBILE AND TABLET */
@media screen and (max-width: 1199px) {
  .menu-slide,
  .menu-slide__overlay,
  .footer__fixed-icon,
  .header__navbar-list {
    display: none;
  }

  .header__navbar {
    background-color: var(--darkgray-color);
    display: block;
    text-align: center;
  }

  .header__navbar-menu {
    display: inline-block;
  }

  .header__navbar-menu--icon {
    padding: 1.5rem 1rem 0;
  }

  .propopals-item {
    justify-content: center;
  }

  .header-category__item {
    flex: 0 0 99%;
    max-width: 99%;
  }

  .header-category__item:not(:first-child) {
    margin-top: 3rem;
  }

  .header-category__link {
    display: block;
  }

  .header-category__item-name {
    width: 100%;
  }

  .header-search__select {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }
  .m-11 {
    flex: 0 0 91.66667% !important;
    max-width: 91.66667% !important;
  }

  .proposals-item__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .proposals-list {
    margin-top: -3.2rem;
  }

  .proposals-item__wrapper {
    margin-top: 3.2rem;
  }
}

/* PC */
@media screen and (min-width: 1201px) {
  .header__navbar-list--m {
    display: none;
  }

  .header-category__item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* PC */
@media screen and (min-width: 1201px) and (max-width: 1229px) {
  .wide .row.header-search__option-row .l-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
  .wide .row.header-search__option-row .l-4 {
    flex: 0 0 85%;
    max-width: 85%;
  }
}
